/*  
Styles for:-- Article Preview React Application 
File - ArticlePreview.css 
Author: Chisom Okoye
Date: 12th June 2025
Version: v1.0
*/

.article-preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid #dee2e6;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
}

.article-image {
    width: 100%;
    height: 20rem;
}

.article-image img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
}

.article-content {
    padding: 3rem 2rem 2rem 2rem;
    background-color: var(--white);
    text-align: left;
}

.article-title {
    font-weight: bold
}

.article-content-text {
    padding: 1rem 0;
}

.article-footer {
    padding-top: 2rem;
}

.article-author {
    /* Temp */
    display: none;
    /* display: flex; */
    align-items: center;
    padding-top: 1rem;
}

.article-author-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.article-author-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1rem;
}

.article-author-name {
    font-weight: bold;
    font-size: 13px;
}

.article-author-date {
    color: var(--light-text-color);
    padding-top: 0.2rem;
}

.article-share-icon {
    width: 2.5rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.65rem;
    cursor: pointer;
}

.article-share-icon:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.mobile-socials-share {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.mobile-socials-share-text {
    padding-left: 1rem;
    letter-spacing: 5px;
    font-weight: lighter;
    
}

.social-icon {
    padding: 0 0.5rem;
}

.article-share-icon-mobile-active {
    width: 2rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;
}


/* .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-icons {
    display: flex;
    gap: 8px;
}

.social-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.social-icon:hover {
    opacity: 0.8;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary-color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} */

/* Responsive Styles */
/* For screen bigger than 680px */
@media (min-width: 680px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-preview-wrapper {
        max-width: 780px;
        flex-direction: row;
    }
}

