/*  
Styles for:-- Article Preview React Application 
File - index.css 
Author: Chisom Okoye
Date: 12th June 2025
Version: v1.0
*/

/* Reset & Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Variables */
:root {
/* Color Palette */
  --primary-color: hsl(217, 19%, 35%); /* Very Dark Grayish Blue */
  --secondary-color: hsl(214, 17%, 51%); /* Desaturated Dark Blue */
  --accent-color: hsl(212, 23%, 69%); /* Grayish Blue */
  --background-color: hsl(210, 46%, 95%); /* Light Grayish Blue */
  --text-color: #333; /* Dark Gray */
  --light-text-color: #666;
  --white: #fff;
  --black: #000;
  --border-color: #dee2e6;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Typography */
  --base-font-family: "Manrope", sans-serif;
  --heading-font-family: inherit;
  --base-font-size: 13px;
  --base-line-height: 1.5;

  /* Spacing */
--space-sm: 0.5rem;
--space-md: 1rem;
--space-lg: 2rem;
--space-xl: 3rem;
 
/* Border Radius */
--border-radius: 0.625rem;
 
/* Breakpoints */
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
}

/* Global Styles */
body {
  background-color: var(--background-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
  font-weight: 200;
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed. */
ul,
ol {
  list-style: none;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Responsive Styles */
/* For screen bigger than 680px */
@media (min-width: 680px) {
  
}
